#aframe-loader {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00000066;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aframe-loader img {
  opacity: 0.6;
  max-width: 10em;
  height: auto;
}
