.App,
.Login {
  text-align: center;
  height: 100vh;
  color: white;
}

/* Background */

.Background {
  height: 100vh;
  background-image: url("./assets/images/sky-background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.loader-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

/* Login */

.Login {
  color: white;
}

/* Onboarding */

.avatar_img {
  height: 100px;
}
.ar_marker_img {
  height: 100px;
}

.badge,
.two-d {
  height: 100px;
  width: auto;
}

/* AR Planets */

#ar_page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "ar_view"
    "ar_list";
}

#ar_view {
  width: 100vw;
  height: 80vh;
  position: absolute;
  grid-area: ar_view;
}

#iframe {
  width: 100%;
  height: 100%;
}

#ar_switch {
  position: absolute;
  bottom: 10px;
}

#ar_list {
  width: 100%;
  grid-area: ar_list;
  margin-top: 2rem;
  background-color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#ar_list a {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  font-size: large;
}

#ar_list a img {
  height: 40%;
}

.modal-card-body {
  color: black;
}

#ar_page > .back-button-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  width: fit-content;
  z-index: 2;
}
#ar_page .back-button-wrapper .back-button {
  background-color: #cccccc33;
  color: white;
}

/* Sidebars */

.pageloader {
  overflow: scroll;
}

.pageloader::after {
  display: none !important;
}

/* Quiz page */

.pageloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  background-image: url("./assets/images/sky-background.jpeg") !important;
  background-size: cover;
  background-attachment: fixed;
}

.quiz-box {
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 0px 100px 100px 100px;
}

.incorrect {
  background-color: rgb(235, 79, 79);
}

.correct {
  background-color: rgb(73, 180, 73);
}
