@font-face {
  font-family: AstroSpace;
  src: url(./assets/font/AstroSpaceFont.otf);
}

.App,
.Login {
  text-align: center;
  height: 100vh;
  color: white;
}

/* Background */

.Background {
  height: 100vh;
  background-image: url("./assets/images/sky-background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.loader-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

/* Login */

.Login {
  color: white;
}

/* Onboarding */

.avatar_img {
  height: 100px;
}
.ar_marker_img {
  height: 100px;
}

.badge,
.two-d {
  height: 100px;
  width: auto;
}

/* AR Planets */

#ar_page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "ar_view"
    "ar_list";
}

#ar_view {
  width: 100vw;
  height: 80vh;
  position: absolute;
  grid-area: ar_view;
}

#iframe {
  width: 100%;
  height: 100%;
}

#ar_switch {
  position: absolute;
  bottom: 10px;
}

/* 3D <-> AR toggle switch */
.ar-toggle-switch-wrapper {
  position: relative;
  bottom: 2em;

  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5em;
}

.ar-toggle-switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

.ar-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ar-toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000066;
  transition: 0.4s;
  border: solid 1px #ccc;
  height: 1.5em;
  width: 3em;
  transition: all 0.3s ease-in;
  border-radius: 1.5em;
}

.ar-toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  top: 3px;
  left: 4px;
  background-color: white;
  transition: all 0.3s ease-in;
  border-radius: 50%;
}

.ar-toggle-switch input:checked + .slider {
  background-color: #6c3;
}

.ar-toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px #6c3;
}

.ar-toggle-switch input:checked + .slider:before {
  translate: 1.5em;
}

#ar_list {
  width: 100%;
  grid-area: ar_list;
  margin-top: 2rem;
  background-color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#ar_list a {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  font-size: large;
}

#ar_list a img {
  height: 40%;
}

.modal-card-body {
  color: black;
}

#ar_page > .back-button-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  width: fit-content;
  z-index: 2;
}

#ar_page .button {
  background-color: #66666666;
  color: white;
}

/* AR Demo page */

#ar_page .ar-demo-button {
  height: 2em;
  padding: 0.2em;
  position: fixed;
  right: 0.2em;
  translate: 0 -100%;
}

#ar-demo-modal-box .modal-close {
  background-color: #33333366;
}

#ar-demo-modal-box .button {
  color: #333;
}

/* Sidebars */

.pageloader {
  overflow: scroll;
}

.pageloader::after {
  display: none !important;
}

#ar_view .sidebar-button {
  width: 1.5em;
  height: 8em;
  writing-mode: vertical-rl;
  /* writing-mode: tb-rl; */
  text-orientation: upright;

  position: fixed;
  top: 40%;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#ar_view .sidebar-button-left {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#ar_view .sidebar-button-right {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* Quiz page */

.pageloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  background-image: url("./assets/images/sky-background.jpeg") !important;
  background-size: cover;
  background-attachment: fixed;
}

.quiz-box {
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 0px 100px 100px 100px;
}

.incorrect {
  background-color: rgb(235, 79, 79);
}

.correct {
  background-color: rgb(73, 180, 73);
}

/* Trivia pages */

.trivia_body {
  position: absolute;
  top: 1rem;
}

.trivia_body h2 {
  font-size: 2.5rem;
  font-family: "AstroSpace", serif;
}

.trivia_list {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.fact {
  background-color: white;
  color: black;
  margin: 0.3rem 0.2rem;
  padding: 0 1rem;
  border-radius: 10px;
  font-size: large;
}

.fact::first-letter {
  font-size: 120%;
  font-family: "AstroSpace", serif;
}

.MapContainer {
  width: 400px;
  height: 180px;
}
